/* 杨任东竹石体-Bold */
@font-face {
  font-family: 'yrdBold';
  font-display: swap;
  src: url('https://at.alicdn.com/t/webfont_jlb7mnz4uuj.eot'); /* IE9*/
  src: url('https://at.alicdn.com/t/webfont_jlb7mnz4uuj.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://at.alicdn.com/t/webfont_jlb7mnz4uuj.woff2') format('woff2'),
  url('https://at.alicdn.com/t/webfont_jlb7mnz4uuj.woff') format('woff'), /* chrome、firefox */
  url('https://at.alicdn.com/t/webfont_jlb7mnz4uuj.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('https://at.alicdn.com/t/webfont_jlb7mnz4uuj.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}


/* 定义字体样式 */
.yrdBold {
	font-family: 'yrdBold' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}